<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Xlsx">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">test</directory>
        </whitelist>
    </filter>
</phpunit>
